BB_Banka/.vs
BB_Banka/BB_Banka/App_Data/report.html
BB_Banka/BB_Banka/App_Data/Copysmlouvy.pdf
BB_Banka/BB_Banka/App_Data/smlouva.txt
BB_Banka/BB_Banka/App_Data/smlouvaOld.pdf
BB_Banka/BB_Banka/App_Data/smlouva_zpatky.pdf
BB_Banka/BB_Banka/obj/Debug/BB_Banka.csproj.FileListAbsolute.txt
